*{
    margin: 0;
    padding:0;
}
img{
    position:absolute;
    width: 100%;
    opacity: 80%;
}
.logo p {
    width:36px;
    text-align: left;
    top: 33px;
    margin-left: 380px;
    color:rgb(255, 245, 245);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    position: absolute;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 200px;
}

p { position: absolute;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}


list{
    width: 100%;
    position:absolute;
    top: 20px;
    left: 0;
    width: 100%;}





ul  { 
    margin: 0;
    padding:5px;
    text-align: center;
   
   
    }

ul li {
   
    display:inline-flex;
    top: 20px;
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;;
}

